<p>You have {{shoppingCartItems.length}} items in your bag</p>
<div *ngFor="let item of shoppingCartItems">
  <app-product-item
      [pizza_id]="item.pizza_id"
      [pizza_name]="item.pizza_name"
      [pizza_price]="item.pizza_price"
      [pizza_image]="item.pizza_image"
      [currency]="item.currency">
    </app-product-item>
  <div>Size : {{item.size.pizza_item_name}}</div>
  <div>Base : {{item.base.pizza_item_name}}</div>
  <div>Topping : <li *ngFor="let pizzaTopping of item.toppings"> pizzaTopping.pizza_item_name </li></div>
  <button class="remove-item" (click)="removeItem(item)">Remove</button>
</div>
<p>Total: {{getTotal() | async}}</p>