<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form  #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input  type="text"  [(ngModel)]="login.email"  #email="ngModel" name="email" id="email" class="form-control" placeholder="Email" minlength="3" required>
        </div>
        
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
          <div *ngIf="email.errors?.required">Email is  required</div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input  type="password"  [(ngModel)]="login.password"  #password="ngModel" name="password" id="password" class="form-control" placeholder="Password"  required>
        </div>
        
        <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
          <div *ngIf="password.errors?.required">Password is  required </div>
        </div>

        <div class="form-group">
            <button type="reset" class="btn btn-default" (click)="loginForm.reset()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="loginForm.form.invalid">Submit</button>
            <a [routerLink]="['/register']" class="btn btn-link">Register</a>
          </div>
       
    </form>
</div>