

<div class="row custom-row">  
  <div class= "col-sm-5 custom-container jumbotron justify-content-center">
      
      <form  #registrationForm="ngForm" (ngSubmit)="onSubmit()">
          <fieldset>
          <legend>Customer Registration</legend>
          <div class="form-group">
            <label for="First Name">First Name</label>
            <input  type="text"  [(ngModel)]="customer.firstname"  #firstName="ngModel" name="firstName" id="firstName" class="form-control" placeholder="First Name"  required>
          </div>
          <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
              <div *ngIf="firstName.errors?.required">FirstName is  required</div>    
          </div>

          <div class="form-group">
              <label for="Last Name">Last Name</label>
              <input  type="text"  [(ngModel)]="customer.lastname"  #lastName="ngModel" name="lastName" id="lastName" class="form-control" placeholder="Last Name"  required>
            </div>
          
            <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid ">
              <div *ngIf="lastName.errors?.required">LastName is  required</div>    
            </div>

            <div class="form-group">

                <label for="email">Email</label>
                <input  type="text"  [(ngModel)]="customer.email"  #email="ngModel" name="email" id="email" class="form-control" placeholder="Email" minlength="3" required>
              </div>
            
            <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
              <div *ngIf="email.errors?.required">Email is  required</div>
              <div *ngIf="email.errors?.minlength">Email should be min {{email.errors.minlength.requiredLength}}</div>
            </div>

            <div class="form-group">
              <label for="Password" class="form-group">Password</label>
              <input  type="password" minlength="8" [(ngModel)]="customer.password" #password="ngModel" name="password" id="password" class="form-control" placeholder="Password"  required>
            </div>

            <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
              <div *ngIf="password.errors?.required">Password is  required</div>    
            </div>

            <!--<div ngModelGroup="password" #userPassword="ngModelGroup" required>

                <div class="form-group">
                  <label for="password" class="form-group">Password</label>
                  <input  type="password" minlength="8" [(ngModel)]="customer.password.pwd" name="password" id="password" class="form-control" placeholder="Password"  >
                 
                </div>
        
                <div class="form-group">
                  <label for="confirmpassword" class="form-group">Confirm Password</label>
                  <input  type="password"  minlength="8"  [(ngModel)]="customer.password.confirmPwd" name="confirmpassword" id="confirmpassword"  placeholder="Confirm Password"  class="form-control" >
                  
                </div> -->

               <!-- <div class="alert alert-danger" *ngIf="(userPassword.invalid || userPassword.value?.pwd != userPassword.value?.confirmPwd) && (userPassword.touched)">
                    <div *ngIf = "userPassword.invalid; else nomatch">
                      Password needs to be more than 8 characters
                    </div>
                    <ng-template #nomatch >
                      Passwords don't match
                    </ng-template>
                  </div>
              
                  </div>-->
                  <div class="form-group">
                      <label for="Address">Address</label>
                      <input  type="text"  [(ngModel)]="customer.address"  #address="ngModel" name="address" id="address" class="form-control" placeholder="Address"  required>
                    </div>
                  
                    <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
                      <div *ngIf="address.errors?.required">Address is  required</div>    
                    </div>
                
                    <div class="form-group">
                      <label for="Phone">Phone </label>
                      <input  type="text"  [(ngModel)]="customer.phoneno"  #phone="ngModel" name="phone" id="phone" class="form-control" placeholder="Phone"  required>
                    </div>
                  
                    <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
                      <div *ngIf="phone.errors?.required">Phone number is  required</div>    
                    </div>
                    
                
                  <div class="form-group">
                    <button type="reset" class="btn btn-default" (click)="registrationForm.reset()">Cancel</button>
                    <button type="submit" class="btn btn-primary" [disabled]="registrationForm.form.invalid">Submit</button>
                  </div>
      </fieldset>
      </form>

  </div>
</div>

 <div>
   Form Values : {{registrationForm.value | json}} <br/>
   Form Status : {{registrationForm.status | json}} <br/>
   Form Values : {{customer | json}} <br/>
 
 </div>
