<!--<div class="col-md-6 col-md-offset-3">-->
  <h1>Hi {{currentCustomer?.firstname}}!</h1>
  <p><a [routerLink]="['/cart']">View ShoppingCart</a></p>
  <!--<ul className="clearfix">-->
  <div class="list-products">
  <!--<li *ngFor="let product of Products" >-->
      <div class="list-product" *ngFor="let product of Products">
    <app-product-item [pizza_id]="product.pizza_id" [pizza_name]="product.pizza_name" [pizza_price]="product.pizza_price" [pizza_image]="product.pizza_image" ></app-product-item>
    <!--<div class="product__button-wrap">-->
      <a routerLink="/products/details/{{product.pizza_id}}">Customize</a>         
    <!--</div>-->

  </div>
</div>
  <!--</li>-->
<!--</ul>-->
  
 <!-- <p><a [routerLink]="['/login']">Logout</a></p>-->