<div class="list-products">
  <div class="list-product" *ngFor="let item of items">
    <!--<app-product-item
      [product_id]="item.id"
      [product_name]="item.name"
      [product_price]="item.price"
      [currency]="item.currency">
    </app-product-item>-->
  </div>
</div>