<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  </div>

  <div class="nav-bar">
    <a *ngIf="location.path() !== '/products'" routerLink="/" class="back-button">Back</a>
    <div class="open-shopping-cart" routerLink="/products/cart">
      Shopping Cart <i class="fa fa-shopping-cart">{{(shoppingCartItems$ | async).length}}</i>
    </div>
  </div>

  
  <router-outlet></router-outlet>
  

