



<div class="thumbnail">
  <img src='/assets/{{pizza_image}}' class="fixwidth" alt="product image" />
  <div class="caption clearfix">
    <h5>{{pizza_name}}</h5>
    <div class="product__price">Price : {{getCurrency()}}{{pizza_price}} </div>
    
  </div>
</div>
