<div class="product-details">
  <div class="product">
  
    <app-product-item [pizza_id]="product.pizza_id" [pizza_name]="product.pizza_name" [pizza_price]="product.pizza_price"   [pizza_image]="product.pizza_image" ></app-product-item>
    <div class="form-group">
        <label class="center-block">Select a Size
          <select name="size" [(ngModel)]="product.size" class="form-control" (ngModelChange)="onSizeChange($event)">
            <option *ngFor="let pizzaSize of product.availableSizes" [ngValue]= "pizzaSize">{{pizzaSize.pizza_item_name}}</option>
            
          </select>
        </label>
      </div>

      <div class="form-group">
        <label class="center-block">Select a Base
          <select name="base" [(ngModel)]="product.base" class="form-control"  (ngModelChange)="onBaseChange($event)">
            <!--<option *ngFor="let pizzaBase of product.availableBases" value= {{pizzaBase.pizza_item_id}}>{{pizzaBase.pizza_item_name}}</option>-->
            <option *ngFor="let pizzaBase of product.availableBases"  [ngValue]= "pizzaBase">{{pizzaBase.pizza_item_name}}</option>
          </select>
        </label>
      </div>
      
      <div class="form-group">
          <label class="center-block">Select Toppings <br/>
      <li *ngFor="let pizzaTopping of product.availableToppings"><input  type="checkbox" name="topping" [ngModel]="product.toppings" (change)="updateChecked(pizzaTopping, $event)" [checked]="pizzaTopping.selected">{{pizzaTopping.pizza_item_name}}</li> 
      </label></div>
       <!-- <div class="form-group">
            <label class="center-block">Select Toppings <br/>
              <input type="checkbox" name="toppings" value="Tomato">Tomato <br/>
              <input type="checkbox" name="toppings" value="Olives">Olives <br/>
              <input type="checkbox" name="toppings" value="Cheese">Cheese <br/>
            </label>
          </div> -->
    <button class="add-to-cart" (click)="addToCart(product)">

        
      Add to bag
    </button>
  </div>
</div>
